@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 235 0% 100%;
    --foreground: 235 9% 15%;

    --card: 235 0% 100%;
    --card-foreground: 235 9% 15%;

    --popover: 235 0% 100%;
    --popover-foreground: 235 9% 15%;

    --primary: 235 45% 56%;
    --primary-foreground: 235 35% 94%;

    --secondary: 235 0% 96.1%;
    --secondary-foreground: 235 43% 23%;

    --muted: 235 0% 96.1%;
    --muted-foreground: 235 0% 45.1%;

    --accent: 235, 18%, 28%;
    --accent-foreground: 235 43% 23%;

    --destructive: 235 84.2% 60.2%;
    --destructive-foreground: 235 35% 94%;

    --border: 235 0% 89.8%;
    --input: 235 0% 89.8%;
    --ring: 235 9% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 235 9% 15%;
    --foreground: 235 35% 94%;

    --card: 235 9% 15%;
    --card-foreground: 235 35% 94%;

    --popover: 235 9% 15%;
    --popover-foreground: 235 35% 94%;

    --primary: 235 45% 56%;
    --primary-foreground: 235 43% 93%;

    --secondary: 235 9% 13%;
    --secondary-foreground: 235 35% 94%;

    --muted: 235 0% 23.9%;
    --muted-foreground: 235 0% 63.9%;

    --accent: 235 13% 20%;
    --accent-foreground: 235, 75%, 85%;

    --destructive: 235 62.8% 30.6%;
    --destructive-foreground: 235 35% 94%;

    --border: 235 9% 13%;
    --input: 235 9% 13%;
    --ring: 235 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}